# Grouping the Data

## Importing pandas

In [1]:
import pandas as pd

## Loading dataset and including relevant columns

In [3]:
marketing_data = pd.read_csv('Data/marketing_campaign.csv')

In [4]:
marketing_data = marketing_data[['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'NumStorePurchases', 'NumWebVisitsMonth']]

In [5]:
marketing_data.head(10)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,6,5
5,7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,10,6
6,965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,7,6
7,6177,1985,PhD,Married,33454.0,1,0,08-05-2013,32,4,8
8,4855,1974,PhD,Together,30351.0,1,0,06-06-2013,19,2,9
9,5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,0,20

## Using the groupby method in pandas to get the average number of store purchases of customers based  on the number of kids at home:

In [9]:
marketing_data.dtypes

ID                     int64
Year_Birth             int64
Education             object
Marital_Status        object
Income               float64
Kidhome                int64
Teenhome               int64
Dt_Customer           object
Recency                int64
NumStorePurchases      int64
NumWebVisitsMonth      int64
dtype: object

In [10]:
marketing_data.shape

(2240, 11)

In [6]:
marketing_data.groupby('Kidhome')['NumStorePurchases'].mean()

Kidhome
0    7.217324
1    3.863181
2    3.437500
Name: NumStorePurchases, dtype: float64

In [8]:
marketing_data.groupby('Kidhome')