# Dealing with missing values

## Importing pandas

In [1]:
import pandas as pd

## Loading dataset and including relevant columns

In [2]:
marketing_data = pd.read_csv('Data/marketing_campaign.csv')
marketing_data = marketing_data[['ID', 'Year_Birth', 'Education', 'Income']]

In [3]:
marketing_data.head(10)

     ID  Year_Birth   Education   Income
0  5524        1957  Graduation  58138.0
1  2174        1954  Graduation  46344.0
2  4141        1965  Graduation  71613.0
3  6182        1984  Graduation  26646.0
4  5324        1981         PhD  58293.0
5  7446        1967      Master  62513.0
6   965        1971  Graduation  55635.0
7  6177        1985         PhD  33454.0
8  4855        1974         PhD  30351.0
9  5899        1950         PhD   5648.0

In [4]:
marketing_data.shape

(2240, 4)

## Check for missing values using the isnull and sum methods:

In [5]:
marketing_data.isnull().sum()

ID             0
Year_Birth     0
Education      0
Income        24
dtype: int64

## Drop missing values using the dropna method:

In [6]:
marketing_data_withoutna = marketing_data.dropna(how = 'any')

In [7]:
marketing_data_withoutna.shape

(2216, 4)