# Sorting data using datasets

## importing pandas

In [1]:
import pandas as pd

## Loading datasets and including relevant columns

In [2]:
marketing_data = pd.read_csv('Data/marketing_campaign.csv')
marketing_data = marketing_data[['ID','Year_Birth', 'Education','Marital_Status','Income','Kidhome', 'Teenhome', 'Dt_Customer', 'Recency','NumStorePurchases','NumWebVisitsMonth']]

In [3]:
marketing_data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,6,5

## Sorting data on basis of number of purchases

In [4]:
sorted_data = marketing_data.sort_values('NumStorePurchases', ascending = False)

In [5]:
sorted_data[['ID', 'NumStorePurchases']]

         ID  NumStorePurchases
1187   9855                 13
803    9930                 13
1144    819                 13
286   10983                 13
1150   1453                 13
...     ...                ...
164    8475                  0
2214   9303                  0
27     5255                  0
1042  10749                  0
2132  11181                  0

[2240 rows x 2 columns]