# Categorising Data using Datasets

## importing pandas

In [1]:
import pandas as pd

## Loading dataset and including relevant columns

In [2]:
marketing_data = pd.read_csv('Data/marketing_campaign.csv')
marketing_data = marketing_data[['ID','Year_Birth', 'Education','Marital_Status','Income','Kidhome', 'Teenhome', 'Dt_Customer', 'Recency','NumStorePurchases','NumWebVisitsMonth']]

In [3]:
marketing_data.head(5).T

                            0           1           2           3           4
ID                       5524        2174        4141        6182        5324
Year_Birth               1957        1954        1965        1984        1981
Education          Graduation  Graduation  Graduation  Graduation         PhD
Marital_Status         Single      Single    Together    Together     Married
Income                58138.0     46344.0     71613.0     26646.0     58293.0
Kidhome                     0           1           0           1           1
Teenhome                    0           1           0           0           0
Dt_Customer        04-09-2012  08-03-2014  21-08-2013  10-02-2014  19-01-2014
Recency                    58          38          26          26          94
NumStorePurchases           4           2          10           4           6
NumWebVisitsMonth           7           5           4           6           5

## Categorize the number of store purchases into high, moderate, and low categories:

In [4]:
marketing_data['bins'] = pd.cut(x=marketing_data['NumStorePurchases'], bins=[0, 4, 8, 13], labels=['Low', 'Moderate', 'High'])

In [5]:
marketing_data[['NumStorePurchases','bins']].head()

   NumStorePurchases      bins
0                  4       Low
1                  2       Low
2                 10      High
3                  4       Low
4                  6  Moderate