# Removing Duplicate data in a dataset

## importing pandas

In [2]:
import pandas as pd

## Loading dataset and including relevant columns

In [3]:
marketing_data = pd.read_csv('Data/marketing_campaign.csv')

In [4]:
marketing_data = marketing_data[['Education','Marital_Status','Kidhome', 'Teenhome']]

In [5]:
marketing_data.head(10)

    Education Marital_Status  Kidhome  Teenhome
0  Graduation         Single        0         0
1  Graduation         Single        1         1
2  Graduation       Together        0         0
3  Graduation       Together        1         0
4         PhD        Married        1         0
5      Master       Together        0         1
6  Graduation       Divorced        0         1
7         PhD        Married        1         0
8         PhD       Together        1         0
9         PhD       Together        1         1

In [7]:
marketing_data.shape

(2240, 4)

## Remove duplicates across the four columns in dataset:

In [8]:
marketing_data_duplicate = marketing_data.drop_duplicates()

In [9]:
marketing_data_duplicate.head(10)

     Education Marital_Status  Kidhome  Teenhome
0   Graduation         Single        0         0
1   Graduation         Single        1         1
2   Graduation       Together        0         0
3   Graduation       Together        1         0
4          PhD        Married        1         0
5       Master       Together        0         1
6   Graduation       Divorced        0         1
8          PhD       Together        1         0
9          PhD       Together        1         1
10  Graduation        Married        1         0

In [10]:
marketing_data_duplicate.shape

(135, 4)

In [11]:
marketing_data.shape

(2240, 4)