# Replacing Data in a dataset

## Importing pandas

In [1]:
import pandas as pd

## Loading Dataset and including relevant columns

In [2]:
marketing_data = pd.read_csv('Data/marketing_campaign.csv')
marketing_data = marketing_data[['ID', 'Year_Birth','Kidhome', 'Teenhome']]

In [3]:
marketing_data.head(10)

     ID  Year_Birth  Kidhome  Teenhome
0  5524        1957        0         0
1  2174        1954        1         1
2  4141        1965        0         0
3  6182        1984        1         0
4  5324        1981        1         0
5  7446        1967        0         1
6   965        1971        0         1
7  6177        1985        1         0
8  4855        1974        1         0
9  5899        1950        1         1

In [4]:
marketing_data.shape

(2240, 4)

## Replace the values in Teenhome with has teen and has no teen:

In [5]:
marketing_data['Teenhome_replaced'] = marketing_data['Teenhome'].replace([0,1,2], ['has no teen', 'has teen', 'has teen'])

## Inspecting the output

In [7]:
marketing_data[['Teenhome', 'Teenhome_replaced']].head(10)

   Teenhome Teenhome_replaced
0         0       has no teen
1         1          has teen
2         0       has no teen
3         0       has no teen
4         0       has no teen
5         1          has teen
6         1          has teen
7         0       has no teen
8         0       has no teen
9         1          has teen