# To get the median of a dataset

## Importing numpy and pandas

In [1]:
import numpy as np
import pandas as pd

## Loading Dataset and including relevant columns

In [3]:
covid_data = pd.read_csv('Data/covid-data.csv')

covid_data = covid_data[['iso_code', 'continent', 'location', 'new_cases', 'total_cases']]

In [4]:
covid_data.head(10)

  iso_code continent     location  new_cases  total_cases
0      AFG      Asia  Afghanistan          5            5
1      AFG      Asia  Afghanistan          0            5
2      AFG      Asia  Afghanistan          0            5
3      AFG      Asia  Afghanistan          0            5
4      AFG      Asia  Afghanistan          0            5
5      AFG      Asia  Afghanistan          0            5
6      AFG      Asia  Afghanistan          0            5
7      AFG      Asia  Afghanistan          0            5
8      AFG      Asia  Afghanistan          0            5
9      AFG      Asia  Afghanistan          0            5

## Getting median of new_cases and total_cases

In [6]:
median_new_cases = np.median(covid_data['new_cases'])
median_total_cases = np.median(covid_data['total_cases'])

In [7]:
median_new_cases

261.0

In [8]:
median_total_cases

176305.0